<% try { %>
    <%- include('partials/header', {user: [firstName, lastName]}) %>
  <%} catch(error) { %>
    <%- include('partials/header')%>
  <%} %>

  <div class="list-group">
      <% foundEvents.forEach(function(event){ %>
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%=event.eventName%></h5>
                <small><%=event.eventMonth + " " + event.eventDay + " " + event.eventYear %></small>
            </div>
            <p class="mb-1">
            <%=event.eventInfo%>
            </p>
            <div style="white-space: nowrap;">
              <a style="display: inline-block;" href=""><button type="button" class="btn btn-secondary">Edit Event</button></a>
              <a style="display: inline-block;" href=""><button type="button" class="btn btn-danger">Remove Event</button></a>

            </div>
            <!-- <small>Donec id elit non mi porta.</small> -->

        </a>
     <% }) %>

    
  </div>


  <%- include('partials/footer') %>