
<% try { %>
  <%- include('partials/header', {user: [firstName, lastName]}) %>
<%} catch(error) { %>
  <%- include('partials/header')%>
<%} %>




<main role="main">
  <div id="logout-div" style="display:none;" class="answer_list" ></div>
  <div id="modal" style="display:none;" class="answer_list">
    <h1 class="popup">Are you sure you want to log out?</h1>
    <a href="/"><button type="button" class="btn btn-light">Stay logged in</button></a>
    <a href="/logout"><button type="button" class="btn btn-secondary">Log out</button></a>

  </div>


  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading test">Appointment/Event Organizatoinal System</h1>
      <p class="lead text-muted">EventBookings is an affordable and powerful event ticketing platform for event organisers, promoters, and managers. Easily create, promote and sell tickets to your events of every type and size.</p>
      <p>All data shown on screen is sample data. Please login/register to create personal schedules/events</p>
      <p>
        <a href="#" class="btn btn-secondary my-2"></a>
        <a href="#" class="btn btn-primary my-2">LinkedIn</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% foundApps.forEach(function(item) { %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">

            <div class="card-body btn">
              <h2><%=item.name %></h2>
              <p class="card-text"><%= item.hint %> </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/apps/<%= item.name %>">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
        <div class="col-md-4">
          <a href="/add_item" style="text-decoration: none;">
            <div class="card mb-4 box-shadow">
              <button type="button" class="btn btn-light">
                <div class="card-body add-card">
                  <h1>Add Item...</h1>
                </div>
              </button>

            </div>
          </a>
        </div>


      </div>
    </div>
  </div>
  </div>

</main>

<%- include('partials/footer') %>
